/* Shope-Page */
.widget_aux_search .aux-submit-icon-container {
    right: auto;
    left: 0;
}
.aux-search-form.aux-iconic-search .aux-search-field{
    padding: 6px 12px 6px 42px;
}

.aux-search-form.aux-iconic-search .aux-search-field::placeholder{
    color:var( --auxin-featured-color-1 )!important;
}
.aux-search-form.aux-iconic-search .aux-search-field{
    border: none;
    border-bottom: 2px solid var( --auxin-featured-color-5 );
}
.aux-sidebar ul li a{
    font-weight: 400;
    text-decoration: none;
}
.aux-sidebar .woocommerce-widget-layered-nav-list__item .count{
    display: none;
}
.aux-sidebar .widget-title{
   border-bottom: none;
	 margin-bottom: 0;
  	padding-bottom: 0;
}
.aux-sidebar .woocommerce-widget-layered-nav-list li{
	 position:relative;
	 padding: 20px 0 0 37px ;
}
.aux-sidebar .woocommerce-widget-layered-nav-list li a:after{
	 content: "";
   position: absolute;
   width: 16px;
   height: 16px;
   border: 1px solid #888888;
   border-radius: 5px;
   left: 0;	
	 top: 54%;
	
}
.aux-sidebar .woocommerce-widget-layered-nav-list li a:before{
   content: "\e102";
	 font-family: "auxin-front" !important;
	  position: absolute;
	  left: 3px;
    top: 53%;
	  opacity:0;
}
.aux-sidebar .aux-toggle-widget .widget-title{
    padding-bottom: 0;
    margin-bottom: -12px!important;
}
.aux-sidebar .woocommerce-widget-layered-nav-list .aux-shop-custom-color-filter-term{
     width: 100%;
	   margin-bottom: 0;
}
.aux-sidebar .aux-shop-custom-color-filter .woocommerce-widget-layered-nav-list__item a{
    display: flex;
    flex-direction: row-reverse;
	  justify-content: space-between;
	  font-size: 16px;
    color: #888888;
}
.aux-sidebar .aux-shop-custom-color-filter-term-color{
    border: 1px solid #888888;
    width: 18px!important;
    height: 18px!important;
}
.aux-sidebar .woocommerce-widget-layered-nav-list li.chosen a:after{
    background-color:var( --auxin-featured-color-2 )!important;
}
.aux-sidebar .woocommerce-widget-layered-nav-list li.chosen a:before{
	  opacity: 1;
    z-index: 1;
    color: #fff;
    font-size: 13px;
}
.widget_price_filter .ui-slider .ui-slider-range{
    height: 40px!important;
    border-radius: 5px;
    background-color: var( --auxin-featured-color-2 );
}
.widget_price_filter .ui-slider{
	  margin-right: 0;
}
.price_slider_wrapper .price_slider .ui-slider-handle{
	  top:10px;
    border: none;
    border-radius: 5px;
    height: 18px;
    width: 18px;
	
}
.widget_price_filter .price_slider_wrapper .ui-widget-content{
    background-color: var( --auxin-featured-color-5 );
    height: 40px;
}
.widget_price_filter .ui-slider-handle:after{
    content: "\e193";
    font-family: "auxin-front" !important;
    position: absolute;
    left: 2px;
    right: 3px;
    top: -3px;
    transform: rotate(90deg);
    color: var( --auxin-featured-color-2 );
}
.widget_price_filter .price_slider_wrapper .price_label span{
    font-weight: 400;
    color: #888888;
    font-size: 12px;
}
.aux-sidebar .price_slider_amount{
    display: flex;
    flex-direction: column;
}
.widget_price_filter .price_slider_wrapper .price_label{
    order: 2;
}
.widget_price_filter .price_slider_wrapper .ui-widget-content{
   order: 1;
}
.widget_price_filter .price_slider_amount{
   order: 3;
}
.widget_price_filter .price_slider {
    margin-bottom: 4px;
}
.widget_price_filter .price_slider_amount .aux-button{
    border-radius: 5px;
    background-color: var( --auxin-featured-color-5 )!important;
}

.aux-black.aux-button.aux-outline .aux-overlay::after{
    background-color: var( --auxin-featured-color-2 )!important;
}
.aux-primary .aux-col .auxshp-meta-terms a{
    font-size: 25px;
    font-style: normal;
    color: var( --auxin-featured-color-3 );
}
.aux-black.aux-button.aux-outline {
box-shadow: 0 0 0 1px var( --auxin-featured-color-5 ) inset!important;
}
.aux-shop-archive .products-loop .price ins{
    background-color: transparent;
}
.aux-shop-archive .aux-col .auxshp-entry-main{
       text-align: center;
}
.aux-shop-archive .aux-col .auxshp-entry-main{
    display: flex;
    flex-direction: column;
}
.aux-shop-archive .aux-col .auxshp-loop-title{
    order: 1;
}
.aux-shop-archive .aux-col .loop-meta-wrapper{
    order: 2;
}
.aux-shop-archive .aux-col .price{
    order: 3;
}
.aux-sidebar-style-border.left-sidebar .aux-sidebar-primary {
    border-right: 1px solid var( --auxin-featured-color-5 );
}
.aux-shop-archive .aux-col{
	  width: calc(27.6% + 1.6%);
    margin: 1.6%;
    background-color: var( --auxin-featured-color-5 );
}
@media only screen and (max-width: 1025px) {
.aux-shop-archive .aux-col{
    width: calc(44.6% + 1.6%);
	 margin: 1.6%;
}
}
.aux-shop-archive .aux-col{
    padding: 13px 45px 40px;
    border-radius: 10px;
	margin-top:20px!important;
}
.aux-shop-archive .products-loop .onsale{
    top: 21px;
    left: 19px;
    width: 64px;
    height: 32px;
    background: var( --auxin-featured-color-2 );
	  border-radius: 5px;
	  line-height: 32px;
}
.aux-shop-archive .aux-sort-filter  .aux-filter-by{
    padding: 9px 62px 9px 20px;
    text-transform: capitalize;
    border-radius: 5px;
	  color:var( --auxin-featured-color-4 );
    font-weight: 400;
	background-color: var( --auxin-featured-color-2 );
}
.auxicon-chevron-down-1:before{
    margin: 5px -50px 5px 0;
	    color:var( --auxin-featured-color-4 );
	    float: right;
}
.aux-shop-archive .woocommerce-result-count{
    color: var( --auxin-featured-color-1 );
    font-weight: bold;
}
.aux-shop-archive .aux-filters.aux-dropdown-filter.aux-right{
    justify-content: flex-start;
}
.aux-shop-archive .woocommerce-result-count{
    position: absolute;
    right: 3%;
    top: 0;
}
.aux-shop-archive .aux-sort-filter  ul{
    right: auto;
    top: 27px;
}
.aux-shop-archive .aux-container .aux-primary{
   margin-top: 35px;
}
.aux-shop-archive .aux-sidebar .sidebar-inner{
  padding-top: 16px;
}
@media only screen and (min-width: 767px) {
.aux-shop-archive  .aux-primary{
   padding-left: 55px!important;
}
}
.aux-sidebar .sidebar-inner {
    padding: 3.4375em 3.2em;
}
.aux-pagination li.page span{
     width: 40px;
    background-color: var( --auxin-featured-color-2 )!important;
    border: none!important;
    border-radius: 10px;
    font-size: 16px;
    height: 40px;
	line-height:38px;
}
.aux-pagination li.page a{
	 color: #000;
	 font-size: 16px;
   font-weight: 400;
	line-height: 37px;
	 width: 40px;
	 height: 40px;
	 border:none;
	 background-color: #E5E4E4;
	 border-radius: 10px;
	 margin-left: 5px;
   margin-right: 5px;
}
.aux-pagination .next{
	position:relative;
}
.aux-pagination li.next .page-numbers::after, .aux-pagination li.next a::before{
    content: "\e201";
    font-family: "auxin-front" !important;
    background-image: none;
    position: absolute;
    left: 44%;
    right: auto;
    top: 21%;
    color: var( --auxin-featured-color-1 );
    z-index: 5555;
    font-size: 18px;
}
.aux-pagination li.prev a::after, .aux-pagination li.prev a::before{
	content: "\e1ff";
	font-family: "auxin-front" !important;
    background-image: none;
    position: absolute;
    left: 33%;
    right: auto;
    top: 19%;
    color: var( --auxin-featured-color-1 );
    z-index: 5555;
    font-size: 18px;
}
.aux-shop-archive .aux-pagination li.next a, .aux-shop-archive .aux-pagination .last .page-numbers{
    border: none;
	background-color:transparent!important;
}
.aux-shop-archive .aux-pagination .pagination .next, .aux-pagination .prev a, .aux-shop-archive .prev  .page-numbers{
    border: none;
    width: 40px;
    height: 40px;
    background-color:#E5E4E4;
    border-radius: 10px;
}
.aux-shop-archive .pagination .last{
    display: none;
}

.aux-shop-archive .aux-primary .content .aux-pagination{
   border-top: 1px solid #E5E4E4;
   border-bottom: 1px solid #E5E4E4;
	 padding: 19px 0 35px;
}
 .aux-pagination li.page a:hover{
    background-color: #219FFF!important;
	  color: #fff;
}

.page-title-section .page-header{
   border-color:#E5E4E4
}
 .page-header .aux-container{
    display: flex;
    flex-direction: column-reverse;
}
.page-header .aux-container .aux-page-title-entry{
   margin-bottom:0!important;
}
.page-header .aux-container .aux-breadcrumbs{
   margin-top: 0!important;
}
.page-header .aux-container{
    padding-top: 65px;
    padding-bottom: 60px;
}
.aux-sidebar .widget_price_filter .widget-title{
    margin-bottom: 28px;
}
.aux-sidebar .woocommerce-widget-layered-nav{
   margin-top: 32px;
}
.widget-container:first-child, .aux-aside .widget-container:first-child {
    margin-top: 18px!important;
}
.aux-sidebar .widget_aux_search{
   margin-bottom: 80px;
}
.aux-shop-archive .content .products-loop{
   margin-top: 54px;
}
.aux-shop-archive  .aux-wrapper{
	position:relative;
}
.aux-shop-archive  .aux-wrapper:before{
    content: "";
    position: absolute;
    top: 112px;
    left: 0;
    right: 0;
    height: 1px;
    z-index: 555;
    background-color: #E5E4E4;
    margin-left: 35px;
    margin-right: 35px;	
}
@media only screen and (max-width: 1367px)and (min-width: 1025px) {
.aux-shop-archive .aux-col {
    padding: 13px 34px 40px;
}
.aux-shop-archive .products-loop .auxshp-loop-title{
    font-size: 22px;
}
.aux-primary .aux-col .auxshp-meta-terms a {
    font-size: 20px;
}
.aux-shop-archive .products-loop .price .amount{
    font-size: 27px!important;
}
.aux-shop-archive .products-loop .price del .amount{
    font-size: 17px!important;
}
}
.aux-shop-archive .products-loop .price del .amount{
	color: #0a090a61!important;
}
@media only screen and (max-width: 1025px)and (min-width: 767px) {
.aux-primary .aux-col .auxshp-meta-terms a {
    font-size: 17px;
}
.aux-shop-archive .aux-col {
  padding: 11px 22px 40px;
}
}
@media only screen and (max-width: 767px) {
.aux-shop-archive .aux-col {
    padding: 13px 18px 25px;
}
.aux-primary .aux-col .auxshp-meta-terms a {
    font-size: 13px;
}
.aux-sidebar {
  border-top: none!important;}
.aux-sidebar .widget-title{
     text-align: left;
	}
.page-header .aux-container .aux-page-title-entry {
    margin-bottom: 20px!important;
}
}
/* Single-Product */
.single-product .entry-title{
padding: 0;
}
.single-product .tawcvs-swatches .swatch-color{
    border: none;
}
.single-product .tawcvs-swatches .swatch-color{
  height: 48px; 
  width: 48px;
	margin-right: 53px;

}
.single-product .tawcvs-swatches span.selected{
		position:relative;
}
.single-product .tawcvs-swatches span.selected:after{
	content: '';
	position:absolute;
	right:-25%;
	top:-25%;
	width:65px;
	height:65px;
	border-radius:50px;
  border: 4px solid var( --auxin-featured-color-2 );
}
.single-product .auxshp-label label{
font-size: 20px;
    font-weight: bold;
    color:var( --auxin-featured-color-1 );
    line-height: 1.2em;
}
.single-product .cart .auxshp-add-to-cart{
    background-color: #6D21FF;
    border-radius: 50px;
    padding: 19px 132px;
	  box-shadow: 0 0px 30px #19B7FF59;
}
.single-product .variations .aux-dropdown.aux-large select{   
    border: none;
    background-color: var( --auxin-featured-color-5 );
    border-radius: 10px;
    color: #0A090A;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.3em;	 
    width: 534px;
    height: 91px;
}
.single-product .variations .aux-dropdown.aux-large:last-child:after{
    content: '\e16e';
    font-family: "auxin-front" !important;
    font-size: 23px!important;
    color: #0A090A;
    position: absolute;
    right: 18px;
    top: 43%;
    transform: rotate(90deg);  
	  z-index:1;
}
.single-product .variations .aux-dropdown:after{
	background-image: none;
}
.single-product .woocommerce-variation-add-to-cart .aux-text{
 text-shadow: none;
}
.single-product  .entry-summary{
    display: flex;
    flex-direction: column;
	  position: relative;
}
.single-product .entry-title{
    order: 1;
}
.single-product  .price{
    order: 3;
	  margin-top: -23px;
}
.single-product .variations_form{
    order: 2;
}
.single-product .single_variation_wrap{
   position: absolute;
   bottom: -107px;
   left: 38px;
}
.single-product .cart {
    margin-bottom: 0;
}
.single-product .entry-title{
    margin-bottom: 74px;
}
.single-product .auxshp-label.label-default{
    margin-bottom: 29px;
}
.single-product .variations .value {
    margin-bottom: 41px;
}
.single-product .widget-inner .tabs li, .single-product .widget-inner .tabs li.active{
    background-color: transparent;
    border: none;
}
.single-product .widget-inner li{
    margin-right: 4%;
}
.single-product.auxshp-template-slider .woocommerce-tabs .tabs{
    border-bottom: 1px solid #0000004f;
    padding-bottom: 38px;
}

.single-product .widget-inner .woocommerce-Tabs-panel--description table, .single-product .widget-inner .woocommerce-Tabs-panel--description table tr td, .single-product.auxshp-template-slider .woocommerce-tabs .tabs-content{
   border: none;
	 padding-left: 0;
}
.single-product .woocommerce-Tabs-panel--description, .single-product .woocommerce-Tabs-panel--additional_information{
   padding-top: 68px!important;
}
.single-product .widget-inner .woocommerce-Tabs-panel--description table .part1:after, .single-product .widget-inner .woocommerce-Tabs-panel--description table  .part1:before{
	content: "";
    height: 102px;
    width: 3px;
    background-color: #DCDCDC;
    position: absolute;
    left: 32%;	
}
.single-product .widget-inner .woocommerce-Tabs-panel--description table{
	position:relative;
}
.single-product .widget-inner .woocommerce-Tabs-panel--description table .part1:before{
	 left: 64%;	
}
.single-product .widget-inner .woocommerce-Tabs-panel--description table tr td{
      max-width: 440px;
}
.single-product .woocommerce-Tabs-panel--description td h4, .single-product .woocommerce-Tabs-panel--description h4{
    font-size: 60px;
    font-weight: bold;
    line-height: 1.5em;
    font-family: Poppins;
	  text-transform: capitalize;
}
.single-product .woocommerce-Tabs-panel--description td p, .single-product .woocommerce-Tabs-panel--description p{
    font-size: 30px;
    font-family: Cabin;
    font-weight: 600;
	  text-transform: capitalize;	
    line-height: 1.5em;
}
.single-product .woocommerce-Tabs-panel--description .part2{
    text-align: center;
    margin: 153px 0 112px!important;
}
.single-product .part3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.single-product .part3 td{
    width:216px;
}
.single-product .part2 img{
   width: 100%;
}
.woocommerce-page .price ins{
   background-color: transparent!important;
}
.single-product .price del .amount {
     color: rgba(255, 255, 255, 0.5)!important;
font-size: 28px!important;
}
.single-product .woocommerce-Reviews-title, .single-product .aux-rating-box, .single-product  .woocommerce-review__dash, .single-product .wpulike-default, .single-product .aux-modern-form  .comment-form-cookies-consent, .aux-modern-form .aux-input-group .aux-modern-form-border {
   display: none;
}
.single-product .comment-text .meta {
    display: flex;
    flex-direction: column;
}
.single-product .description{
    margin-top: 20px;
}
.single-product .woocommerce-Reviews .comment_container{
   border: none;
}
.single-product.auxshp-template-slider .woocommerce-tabs .tabs-content {
    padding-top: 0;
}
.single-product .children .comment_container{
    padding-left: 10%;
}
.single-product .comment-text .description p{
     max-width: 990px;
}
.single-product .children .description p{
    max-width: 753px;
}
.single-product .comment_container img{
   width: 89px;
}
.single-product .woocommerce-Reviews .comment-text {
	margin-left: 118px;
}
.single-product .aux-input-group  input{
      padding: 1em 25px 0.8em!important;
	background-color:#F6F6F6;
	border-radius:5px;
}
.single-product .aux-input-group label, .single-product .aux-input-group textarea{
  padding-left: 25px!important;
}
.aux-focused label{
    opacity: 0;
}
.single-product .aux-input-group textarea{
   background-color: #F6F6F6;
	 height: 151px!important;
	 border-radius:5px;
	 min-height: 151px!important;
	padding-top: 28px!important;
}
.aux-modern-form .aux-input-group{
   margin-bottom: 30px;
}
.single-product .aux-modern-form .comment-form-comment{
   max-width: 71%;	
}
.single-product .form-submit input[type="submit"]{
    background-color: var( --auxin-featured-color-2 );
    padding: 14px 64px!important;
}
.single-product .woocommerce-Reviews .comment-reply-title{
   text-transform: capitalize;
	 font-size:30px!important;
}
.single-product .aux-modern-form  .comment-notes{
   margin-bottom: 100px!important;
}
.single-product .aux-modern-form {
    position: relative;
}
.single-product .aux-modern-form  .comment-form-rating{
    position: absolute;
    top: 37px;
}

.single-product .woocommerce-product-attributes-item .woocommerce-product-attributes-item__label{
    background-color: transparent;
}
.single-product .woocommerce-product-attributes-item td, .single-product .woocommerce-product-attributes-item th, .woocommerce-product-attributes{
    border: none;
}
.single-product .woocommerce-product-attributes-item__value p{
    font-size: 16px;
    font-weight: 400;
}
.woocommerce-page .woocommerce-tabs .auxshp-center-line{
	  border:none;
}
@media only screen and (max-width: 767px) {
.single-product .auxshp-label label{
    font-size: 14px;
}
	.single-product .cart .auxshp-add-to-cart {
		padding: 17px 80px !important;
	}
}
.single-product .auxshp-default-product-images, .aux-resp.single-product .images{
    margin-bottom: 3em;
}
.single-product .variations .aux-dropdown.aux-large select{
   font-size: 15px;
}
.single-product .variations .aux-dropdown{
    width: 100%;
}
.single-product .variations .aux-dropdown.aux-large select{
    width: 100%;
    height: 53px;
}
.single-product .entry-title {
    margin-bottom: 17px;
}
.single-product .auxshp-label.label-default {
    margin-bottom: 18px;
}
.single-product .tawcvs-swatches .swatch-color{
    height: 33px;
    width: 33px;
    margin-right: 38px;
}
.single-product .auxshp-variations .value{
    margin-bottom: 15px;
}
.single-product.auxshp-template-slider .woocommerce-tabs .tabs{
    padding-top: 84px;
}
.single-product .single_variation_wrap{
     bottom: -81px;
}
.single-product .cart .auxshp-add-to-cart{
      padding: 17px 119px;
}
.single-product .widget-inner .woocommerce-Tabs-panel--description table .part1:after, .single-product .widget-inner .woocommerce-Tabs-panel--description table  .part1:before{
	display:none;
}
.single-product table .part1{
display: flex;
    flex-direction: column;
}
.single-product .woocommerce-Tabs-panel--description{
    padding-top: 15px!important;
}
.single-product .widget-inner .woocommerce-Tabs-panel--description table tr td{
    font-size: 16px;
    max-width:100%;
	  padding-bottom: 6px;
	  padding-right: 0;
}
.single-product .widget-inner .woocommerce-Tabs-panel--description table tr {
    display: flex;
    flex-direction: column;
}
.single-product .woocommerce-Tabs-panel--description h4 {
    font-size: 35px!important;
}
.single-product .woocommerce-Tabs-panel--description td p{
    font-size: 14px;
}
.single-product .woocommerce-Tabs-panel--description .part4 {
   flex-direction: column-reverse!important;
}
.single-product .woocommerce-Tabs-panel--description .part4 td {
    margin-top: 49px;
}
.single-product .woocommerce-Tabs-panel--description .part3 {
    flex-flow: row wrap!important;
	  justify-content: flex-start;
}
.single-product .widget-inner .woocommerce-Tabs-panel--description table .part3 td {
    width: 67px;
	  margin-right: 42px;
}
.single-product.auxshp-template-slider .woocommerce-tabs .tabs-content{
    padding-right: 0;}
.woocommerce-page .woocommerce-tabs .panel p{
    font-size: 14px;
}
.single-product .woocommerce-Tabs-panel--description .part2{
      margin: 75px 0 75px!important;
}
	.single-product .woocommerce-Reviews .commentlist {
    margin-left: 0%!important;
		
}
.single-product .woocommerce-Reviews .comment_container {
    padding: 0;
}
.single-product  .woocommerce-Reviews .comment_container img{
     width: 35px;
}
.single-product .woocommerce-Reviews .comment-text {
    margin-left: 46px;
}
.single-product .woocommerce-review__author{
    font-size: 15px;
}
.single-product .woocommerce-review__published-date{
    font-size: 10px;
}
.single-product  .woocommerce-Reviews .commentlist .children{
    margin-top: 25px;
}
.single-product .woocommerce-Reviews .comment-respond {
    margin-left: 0%!important;
}
.single-product .aux-modern-form .comment-form-comment, .single-product .aux-modern-form input[type="email"], .aux-modern-form input[type="text"] {
   max-width: 100%;
	 width: 100%!important;
}
.aux-modern-form .aux-input-group {
    margin-bottom: 10px;
}
.single-product .form-submit input[type="submit"] {
    width: 100%;
}
.single-product .woocommerce-product-attributes-item{
    display: flex;
    flex-direction: column;
}
.woocommerce-product-attributes-item__label, .woocommerce-product-attributes-item__value{
    padding: 7px 0;
}
.single-product .woocommerce-Tabs-panel--additional_information {
    padding-top: 20px!important;
}
.single-product .aux-modern-form .comment-form-rating{
    top: 75px;
}

.aux-cart-wrapper.aux-cart-element .aux-card-dropdown {
    right: 0;
    left: auto;
}
.aux-card-item-details ins{
    background-color: transparent;
}
 .aux-card-item-details span ins{
    float: left!important;
    padding: 6px 0;
    margin: 0;
}
.aux-cart-wrapper .aux-card-item h3{
    margin-bottom: 7px;
}
@media only screen and (max-width: 1104px)and (min-width: 767px) {
.woocommerce-page .woocommerce-tabs .tabs li a{
    font-size: 32px!important;
}
.single-product .entry-title {
    margin-bottom: 22px;
}
}
@media only screen and (max-width: 1223px)and (min-width: 767px) {
.single-product  .widget-inner{
margin-top: 87px!important;
}
}
.comment-respond .aux-input-group textarea, .comment-respond .aux-input-group input{
color:#fff!important;}
.single-product .widget-inner li{
    max-width: 1165px!important;
    margin: auto!important;
}
.single-product .comment-respond{
    max-width: 1063px!important;
    margin: auto!important;
}
.single-product .widget-inner li{
    max-width: 1165px;
    margin: auto;
}
.single-product .comment-respond{
border-top: 1px solid #E4E4E4;
    padding-top: 62px;
}
.single-product .woocommerce-Reviews .commentlist{
       margin: 50px 0 -6px;
}
.single-product .price{
	position:relative;
	  margin-top: 19px;
}
.single-product .price:after{
	content:"Total";
	font-size:20px;
	color:var( --auxin-featured-color-1 );
	font-weight:bold;
	position:absolute;
	left:0;
	top: -36px;	
}
.single-product  .woocommerce-tabs .additional_information_tab{
   padding: 0 5%!important;
}
.woocommerce-page .quantity input.aux-number{
    height: 50px;
}
.single-product .variations .aux-dropdown, .single-product .variations .aux-dropdown.aux-large select{
    max-width: 100%!important;
}
@media only screen and (max-width: 969px)and (min-width: 767px){
.single-product .tawcvs-swatches .swatch-color{
    margin-right: 17px;	
}
.single-product .cart .auxshp-add-to-cart{
      padding: 19px 70px;
}}
@media only screen and (max-width: 1126px)and (min-width: 767px){
.single-product .woocommerce-tabs .tabs-content{
       font-size: 18px;
}}

.single-product .woocommerce-product-gallery__image .zoomImg{
     transform: scale(0);
}
.aux-shop-archive .aux-wrapper:before{
	z-index:-5!important;
}
.aux-search-form .aux-submit-icon-container:before{
    color: var( --auxin-featured-color-1 );
}
 .aux-square .pagination  .first{
    display: none;
}

.single-product .tawcvs-swatches .swatch__tooltip {
	left: calc( 50% - 19px );
}
.woocommerce div.product form.cart.variations_form .tawcvs-swatches .swatch-item-wrapper, .woocommerce.single-product form.cart.variations_form .tawcvs-swatches .swatch-item-wrapper, .woocommerce.archive form.cart.variations_form .tawcvs-swatches .swatch-item-wrapper {
	margin-right: 0px !important;
}

.single-product .variations .reset_variations {
	position: relative;
	top: 7px;
}
.auxshp-variations .tawcvs-swatches .swatch-item-wrapper .swatch.swatch-color {
	font-size : 0;
}
.single-product .quantity {
	border: none;
	background-color: transparent;
}

.single-product .quantity input.aux-number {
	background-color: transparent;
    border: 2px solid grey;
    border-radius: 30px;
    color: #000;
}

.woocommerce-MyAccount-navigation {
display:none;
}
.woocommerce-account .woocommerce-MyAccount-content {
width: 100%;
}

.cc-compass-count {
background-color: #6d21ff; /* Bubble color */
}
.cc-compass .licon::before {
font-family: "Font Awesome 5 Free";
font-weight: 900;
content: "\f07a";
font-size: 20px; /* Cart icon size */
}